<header>
        <%= image_tag("logo.jpg", :alt => "Application Exemple", :class => "round") %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Register", '#' %></li>
            <li><%= link_to "Help", help_path %></li>
          </ul>
        </nav>
</header>
